html
  head
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/skeleton.css")    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type='text/javascript').
        $(document).mousemove(function( event ) {
            var $logo = $('#start-logo');
            var offset = $logo.offset();
            var width = $logo.width();
            var height = $logo.height();
            var x = event.pageX - offset.left - width / 2;
            var y = event.pageY - offset.top - height / 2;

            var filterVal = 'hue-rotate('+ (((Math.atan2(y,x)*180)/Math.PI)-90) +'deg)';
            $logo
              .css('filter',filterVal)
              .css('webkitFilter',filterVal)
              .css('mozFilter',filterVal)
              .css('oFilter',filterVal)
              .css('msFilter',filterVal);
        });
    script(type='text/javascript').
        $(document).scroll(function() { 
            var $section = $('#start');
            console.log($(window).scrollTop())
            if($(window).scrollTop() >= $section.height()) {
                $('header').css('opacity','1');
                console.log("show")
            } else {
              $('header').css('opacity','0');
              console.log("hide")
           }
        });
    script(type='text/javascript').
        $(document).on('click', 'a[href^="#"]', function(e) {
            var id = $(this).attr('href');
            e.preventDefault();
            var pos = $(id).offset().top;
            $('body, html').animate({scrollTop: pos});
        });
                  
  body
    header
        div.container
            div.row
                a(href="#start")
                    img(src="../img/logo.png")#header-logo.two.columns.u-pull-left
                a(href="#about").two.columns.offset-by-three About
                a(href="#sponsors").two.columns Sponsors
                a(href="#schedule").two.columns Schedule
                a(href="#faq").two.columns FAQ

    section#start
        div.container
            div.row
                img(src='../img/logo.png')#start-logo
            div.row
                h2 January 29 - 31, 2016 | Kent State University
            div.row
                a(href="#apply")
                    div.btn Apply
    section#about
        div.container
            div.row
                div.text-content.eight.columns.u-pull-left
                    h2 What the hack is this?
                    p Hackathons are the new way to push the boundaries of what you know and learn what you don't. They provide an environment to learn, explore, and engage to complete a project with a set amount of time.
                    p Students spend 36 hours building whatever they want while talking to mentors and sponsors. You get to meet companies looking to hire while getting your hands on the latest tech. Students are given the opportunity to solve problems they see in the world by utilizing fashion and technology.
                div.u-cf

    section#sponsors
        div.container
            div.row
                div.text-content.eight.columns.u-pull-right
                    h2 Our sponsors are the best!
                    p Sponsoring this event gives the opportunity to meet creative and outgoing individuals found nowhere else! Please help support our event and allow us to continue making great things!
                    
            div.row
                a(href="#sponsor").eight.columns.u-pull-right
                    div.btn Sponsor

    section#schedule
        div.container
            div.row
                div.text-content.eight.columns.u-pull-left
                    h2 Schedule
                    p Our specific schedule is still a secret! However, we can tell you that the event is 36 hours of hacking and takes place 
                    h3 January 29th - 31st. 

    section#faq
        div.container
            div.row
                h2 FAQ
            div.row
                div.text-content.six.columns
                    p Text 1
                div.text-content.six.columns
                    p Text 2
    footer
        
    