html
  head
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="vendor/normalize.css")
    link(rel="stylesheet" href="vendor/skeleton.css")
    link(rel='shortcut icon', href='../img/favicon.ico', type='image/x-icon')
    link(rel='icon', href='../img/favicon.ico', type='image/x-icon')
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")

  body
    a#mlh-trust-badge(style='position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000', href='https://mlh.io/?utm_campaign=Trust%20Badge', target='_blank')
      img(src='https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png', alt='MLH Official - Spring 2016', style='width:100%;')
    header
        div.container
            div.row
                a(href="#start")
                    img(src="../img/logo.png")#header-logo.two.columns.u-pull-left
                div#header-links
                    a(href="#about").two.columns.offset-by-two About
                    a(href="#schedule").two.columns Schedule
                    a(href="#sponsors").two.columns Sponsors
                    a(href="#faq").two.columns FAQ
                div#mobile-btn

    section#start
      div.image-container.top
        img(src='../img/top.svg')
      div.seam
      div.container
          div.row
              img(src='../img/logo.png')#start-logo
          div#start-info
              h2 January 29 - 31, 2016
              h3 Kent State University
          div.row
              div.u-full-width
                  a(href="http://fth2016.devpost.com/")
                      div.btn Submit
              div.u-full-width
                  a(href="http://www.boxcast.com/show/#/fashtech-hack-opening-ceremonies-611563")
                      div.btn Live Stream
              
      div.image-container.bottom
        img(src='../img/bottom.svg')
    section#about
      div.seam
      div.container
          div.row
              div.text-content.eight.columns
                  h2 Redefine the future of fashion.
                  p Hackathons are the new way to push the boundaries of what you know
                    | and learn what you don't. They provide an environment to learn,
                    | explore, and engage to complete a project with a set amount of time.
                    | Students spend 36 hours building a project of their choice,
                    | such an app or a garment, while getting support from mentors
                    | and sponsors. Participants meet companies looking to hire while
                    | getting their hands on the latest tech. Students are given the opportunity
                    | to solve problems they see in the world by utilizing fashion and technology.

                  p This year, we'll be having 4 different prize categories:
                    ul
                      li Creation of a new technology
                      li Advancement of an existing technology
                      li Use of Technology in Creating New Fashion Products
                      li Tech Advancement of the retail experience
              div.four.columns.image-col
                  img(src='../img/5.png')

    section#schedule
      div.seam
      h2 Schedule    
      include schedule.jade
        div.row
      div.container
        div.row
          div.four.columns.image-col.offset-by-four
            img(src='../img/1.png')

    section#sponsors
      div.seam
      div.container
          div.row
              div.four.columns.image-col
                  img(src='../img/4.png')
              div.text-content.eight.columns
                  h2 Get involved as a sponsor.
                  p Our sponsors get a variety of benefits, like recruiting
                    | and marketing opportunities. We attract top talent from
                    | the world's best fashion and engineering schools. Our
                    | attendees are some of the most diverse hackers. Last year,
                    | out of 144 students, we saw 60% female participants from
                    | 23 different majors and 14 different universities. See
                    | below for more information, or contact Robin at rbonates@kent.edu.
              

          div.row
              div.eight.columns.u-pull-right
                  a(href="../img/SponsorshipPacket.pdf")
                      div.btn Sponsor

    section#faq
      div.seam
      div.container
          div.row
              h2 Frequently Asked Questions
          div.row
              div.text-content.six.columns
                  h3 What is a hackathon?
                  p A hackathon is a weekend long event where students from all
                    | majors can develop a project (like an app or website) with
                    | the best resources and mentors to learn.
              div.text-content.six.columns
                  h3 Who can attend?
                  p Any student, high school - grad school may participate. Others
                    | who wish to be involved may come and mentor. Minors are encouraged
                    | to attend, but they must email us (rbonates@kent.edu) for a
                    | waiver to sign before the event.
          div.row
              div.text-content.six.columns
                  h3 How much does this cost?
                  p Nothing! The Fashion / Tech Hackathon is free for all to attend.
                    | We'll provide your meals and swag for the weekend, and in
                    | some cases we'll even provide travel reimbursement up to $100.
              div.text-content.six.columns
                  h3 What are the prizes?
                  p This year, we'll be handling prizes differently. Instead of
                    | first, second and third, we'll have four category prizes:
                    | Creation of a new technology, Advancement of an existing technology,
                    | Use of Technology in Creating New Fashion Products, Tech
                    | Advancement of the Retail Experience.
          div.row
              div.text-content.six.columns
                  h3 What if I know nothing about tech?
                  p You should still come! Hackathons are designed for you to learn,
                    | plus, our event celebrates makers of all kinds, including
                    | designers, merchandisers, sewers, and more.
              div.text-content.six.columns
                  h3 What are the rules?
                  p Teams can consist of 1-4 students, and the entire project
                    | must be built at the event. You may use publicly available
                    | libraries, but besides that no lines of code should be written,
                    | and no seams should be sewn.
                  p Hackers must also adhere to
                    a(href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf")
                      | MLH's Code of Conduct
          div.row
            div.image-col.four.columns.offset-by-four
              img(src='../img/2.png')

    footer
        div.container
            div.row
                div.twelve.columns
                    h6 POWERED BY:
                    a(href='http://hacksu.cs.kent.edu').two.columns.offset-by-two
                        img(src='../img/hacksu-logo.png')
                    a(href='http://www.tech-style-lab.org/').two.columns
                        img(src='../img/TechStyleLAB-logo.png')
                    a(href='http://www.bdmorganfdn.org/blackstone-launchpad').two.columns
                      img(src='../img/LaunchNET-logo.png')
                    a(href='http://mlh.io/').two.columns
                      img(src='../img/mlh-logo.png')

    script(type='text/javascript').
        function rgb2hsv (r,g,b) {
           var computedH = 0;
           var computedS = 0;
           var computedV = 0;

           //remove spaces from input RGB values, convert to int
           var r = parseInt( (''+r).replace(/\s/g,''),10 );
           var g = parseInt( (''+g).replace(/\s/g,''),10 );
           var b = parseInt( (''+b).replace(/\s/g,''),10 );

           if ( r==null || g==null || b==null ||
               isNaN(r) || isNaN(g)|| isNaN(b) ) {
             alert ('Please enter numeric RGB values!');
             return;
           }
           if (r<0 || g<0 || b<0 || r>255 || g>255 || b>255) {
             alert ('RGB values must be in the range 0 to 255.');
             return;
           }
           r=r/255; g=g/255; b=b/255;
           var minRGB = Math.min(r,Math.min(g,b));
           var maxRGB = Math.max(r,Math.max(g,b));

           // Black-gray-white
           if (minRGB==maxRGB) {
            computedV = minRGB;
            return [0,0,computedV];
           }

           // Colors other than black-gray-white:
           var d = (r==minRGB) ? g-b : ((b==minRGB) ? r-g : b-r);
           var h = (r==minRGB) ? 3 : ((b==minRGB) ? 1 : 5);
           computedH = 60*(h - d/(maxRGB - minRGB));
           computedS = (maxRGB - minRGB)/maxRGB;
           computedV = maxRGB;
           return [computedH,computedS,computedV];
          }

        var curAngle = 0.0; //Current Hue Shift degrees

        var mx = 0, my = 0; // relative to the logo
        var $logo = $('#start-logo');
        var offset = $logo.offset();
        var centerX = offset.left + $logo.width()/2;
        var centerY = offset.top + $logo.height()/2;

        function step() {

            var dx = mx - centerX,
                dy = my - centerY,
                len = Math.sqrt(dx * dx + dy * dy);
            dx /= len ? len : 1.0; dy /= len ? len : 1.0;
            // get current direction
            var dirx = Math.cos(curAngle),
              diry = Math.sin(curAngle);
            // ease the current direction to the target direction
            dirx += (dx - dirx) * 0.1;
            diry += (dy - diry) * 0.1;

            curAngle = Math.atan2(diry, dirx);

            var filterVal = 'hue-rotate('+ ((curAngle*180)/Math.PI - 90) +'deg)';
            $('#start-logo')
              .css('filter',filterVal)
              .css('webkitFilter',filterVal)
              .css('mozFilter',filterVal)
              .css('oFilter',filterVal)
              .css('msFilter',filterVal);

            filterVal = 'hue-rotate('+ ((curAngle*180)/Math.PI + 90) +'deg)';
            $('.image-container.top')
              .css('filter',filterVal)
              .css('webkitFilter',filterVal)
              .css('mozFilter',filterVal)
              .css('oFilter',filterVal)
              .css('msFilter',filterVal);

            filterVal = 'hue-rotate('+ ((curAngle*180)/Math.PI) +'deg)';
            $('.image-container.bottom')
              .css('filter',filterVal)
              .css('webkitFilter',filterVal)
              .css('mozFilter',filterVal)
              .css('oFilter',filterVal)
              .css('msFilter',filterVal);

            requestAnimationFrame(step);
        }

        $(document).mousemove(function( event ) {
            mx = event.pageX,
            my = event.pageY;
        });

        step();

    script(type='text/javascript').
        //Show/Hide header bar
        $(document).scroll(function() {
            var $section = $('#start');
            if($(window).scrollTop() >= $section.outerHeight()) {
                $('header').css('opacity','1');
                $('header').css('pointer-events','');
            } else {
              $('header').css('opacity','0');
              $('header').css('pointer-events','none');
           }
        });
    script(type='text/javascript').
        //Smooth Scrolling
        $(document).on('click', 'a[href^="#"]', function(e) {
            var id = $(this).attr('href');
            e.preventDefault();
            var pos = $(id).offset().top;
            $('body, html').animate({scrollTop: pos});
        });
