html
  head
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/skeleton.css")
    script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
              
  body
    header
        div.container
            div.row
                a(href="#start")
                    img(src="../img/logo.png")#header-logo.two.columns.u-pull-left
                div#header-links
                    a(href="#about").two.columns.offset-by-three About
                    a(href="#schedule").two.columns Schedule
                    a(href="#sponsors").two.columns Sponsors
                    a(href="#faq").two.columns FAQ
                div#mobile-btn


    section#start
        div.container
            div.row
                img(src='../img/logo.png')#start-logo
            div#start-info
                h2 January 29 - 31, 2016
                h3 Kent State University
            div.row
                div.u-full-width
                    a(href="#apply")
                        div.btn Register
    section#about
        div.container
            div.row
                div.text-content.eight.columns.u-pull-left
                    h2 Redefine the future of fashion.  
                    p Hackathons are the new way to push the boundaries of what you know 
                      | and learn what you don't. They provide an environment to learn, 
                      | explore, and engage to complete a project with a set amount of time. 
                      | Students spend 36 hours building a project of their choice, 
                      | such an app or a garment, while getting support from mentors 
                      | and sponsors. Participants meet companies looking to hire while 
                      | getting their hands on the latest tech. Students are given the opportunity 
                      | to solve problems they see in the world by utilizing fashion and technology.
                      
                    p This year, we'll be having 4 different prize categories:
                      ul 
                        li Creation of a new technology
                        li Advancement of an existing technology
                        li Use of Technology in Creating New Fashion Products
                        li Tech Advancement of the retail experience
                img(src='../img/4.png').four.columns
                
    section#schedule
        div.container
            div.row
                div.text-content.eight.columns.u-pull-left
                    h2 Schedule
                    h3 January 29th-31st
                    br
                    p A detailed schedule will be released soon. 
                img(src='../img/1.png').four.columns

    section#sponsors
        div.container
            div.row
                img(src='../img/4.png').four.columns
                div.text-content.eight.columns.u-pull-right
                    h2 Our sponsors are the best!
                    p Sponsoring this event gives the opportunity to meet 
                      | creative and outgoing individuals found nowhere else!
                      | Please help support our event and allow us to continue making great things!
                    
            div.row
                div.eight.columns.u-pull-right
                    a(href="#sponsor")
                        div.btn Sponsor

    section#faq
        div.container
            div.row
                h2 FAQ
            div.row
                div.text-content.six.columns
                    p Text 1
                div.text-content.six.columns
                    p Text 2
            div.row
                img(src='../img/2.png').four.columns.offset-by-four

    footer

    script(type='text/javascript').
        var curDegree = 0.0; //Current Hue Shift degrees

        var mx = 0, my = 0; // relative to the logo
        var $logo = $('#start-logo');
        var offset = $logo.offset();
        var centerX = offset.left + $logo.width()/2;
        var centerY = offset.top + $logo.height()/2;

        function step() {

            var dx = mx - centerX,
                dy = my - centerY,  
                len = Math.sqrt(dx * dx + dy * dy);
            dx /= len ? len : 1.0; dy /= len ? len : 1.0;
            // get current direction
            var dirx = Math.cos(curDegree),
              diry = Math.sin(curDegree);
            // ease the current direction to the target direction
            dirx += (dx - dirx) * 0.1;
            diry += (dy - diry) * 0.1;

            curDegree = Math.atan2(diry, dirx);
            console.log(dirx)

            var filterVal = 'hue-rotate('+ ((curDegree*180)/Math.PI - 90) +'deg)';
            $('#start-logo')
              .css('filter',filterVal)
              .css('webkitFilter',filterVal)
              .css('mozFilter',filterVal)
              .css('oFilter',filterVal)
              .css('msFilter',filterVal);

            requestAnimationFrame(step);
        }

        $(document).mousemove(function( event ) {
            mx = event.pageX,
            my = event.pageY;  
        });

        step();

    script(type='text/javascript').
        //Show/Hide header bar
        $(document).scroll(function() { 
            var $section = $('#start');
            if($(window).scrollTop() >= $section.outerHeight()) {
                $('header').css('opacity','1');
                $('header').css('pointer-events','');
            } else {
              $('header').css('opacity','0');
              $('header').css('pointer-events','none');
           }
        });
    script(type='text/javascript').
        //Smooth Scrolling
        $(document).on('click', 'a[href^="#"]', function(e) {
            var id = $(this).attr('href');
            e.preventDefault();
            var pos = $(id).offset().top;
            $('body, html').animate({scrollTop: pos});
        });
        
        
