html
  head
    link(rel="stylesheet" href="css/index.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/skeleton.css")    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  body
    header
        div#logo
        div#header-links
            a(href="#about") About
            a(href="#sponsors") Sponsors
            a(href="#schedule") Schedule

    section#start
        div.container
            div.row
                div#start-logo.u-full-width
            div.row
                h2 January 29 - 31, 2016 | Kent State University
            div.row
                a(href="#apply")
                    div.btn Apply
    section#about
        div.container
            div.row
                div.text-content.two-thirds.columns
                    h2 What the hack is this?
                    p Hackathons are the new way to push the boundaries of what you know and learn what you don't. They provide an environment to learn, explore, and engage to complete a project with a set amount of time.
                    p Students spend 36 hours building whatever they want while talking to mentors and sponsors. You get to meet companies looking to hire while getting your hands on the latest tech. Students are given the opportunity to solve problems they see in the world by utilizing fashion and technology.

    section#sponsors
        div.container
            div.row
                div.text-content.two-thirds.columns
                    h2 Our sponsors are the best!
                    p Sponsoring this event gives the opportunity to meet creative and outgoing individuals found nowhere else! Please help support our event and allow us to continue making great things!
                    a(href="#sponsor")
                        div.btn Sponsor

    section#schedule
        div.row
            div.text-content
                h2 Schedule
                p Our specific schedule is still a secret! However, we can tell you that the event is 36 hours of hacking and takes place 
                b January 29th - 31st. 

    section#faq.container
        div.row
            div.text-content
                h2 FAQ

    footer
    