div.container
	div.row
		div.one-third.column
			h3 Friday
			p.
				#[b Check in Starts]
				#[i Rockwell Atrium]
				5 pm
			p.
				#[b Tech Materials Preview Starts]
				#[i TechStyleLAB, Room 302]
				5 pm
			p.
				#[b Smash Bros 4 Tournament]
				#[i Room 322]
				5:30 pm
			p.
				#[b Opening Ceremonies]
				#[i Rockwell Hall Auditorium]
				7 pm
			p.
				#[b Dinner provided by Fresco]
				#[i 2nd Floor Atrium]
				8 pm
			p.
				#[b Smash Bros Melee/PM Tournament]
				#[i Room 322]
				8 pm
			p.
				#[b Hacking Starts]
				#[b Tech Material Checkout]
				#[i TechStyleLAB, Room 302]
				9 pm
			p.
				#[b Snack provided by Popped]
				#[i 2nd Floor Atrium]
				12 am
				
		div.one-third.column
			h3 Saturday
			p.
				#[b Breakfast provided by]
				#[b Dunkin Donuts]
				#[i 2nd Floor Atrium]
				8 am
			p.
				#[b High School]
				#[b Coding Workshop]
				#[i Room 322]
				10 am
			p.
				#[b Lunch provided by]
				#[b Jimmy Johns and]
				#[b Continental Grill]
				#[i 2nd Floor Atrium]
				12 pm
			p.
				#[b Dinner provided by Belleria]
				#[i 2nd Floor Atrium]
				8 pm
			p.
				#[b Hearthstone Tournament]
				#[i Room 322]
				10 pm
			p.
				#[b Snack provided by Popped]
				#[i 2nd Floor Atrium]
				12 am

		div.one-third.column
			h3 Sunday
			p.
				#[b Breakfast provided by]
				#[b Acme Markets]
				#[i 2nd Floor Atrium]
				8 am
			p.
				#[b Project Submission Deadline]
				#[i Fashion School Library]
				8 am
			p.
				#[b Hacking Ends]
				9 am
			p.
				#[b Project Expo]
				#[i Rockwell Hall Atrium]
				10 - 11:30 am
			p.
				#[b Sponsor Reception]
				#[i 2nd Floor Atrium East]
				10 - 12 pm
			p.
				#[b Lunch provided by]
				#[b Jimmy Johns and]
				#[b Continental Grill]
				#[i 2nd Floor Atrium West]
				12 pm
			p.
				#[b Closing Ceremonies]
				#[i Rockwell Hall Auditorium]
				1 pm
