$green: rgba(55, 179, 131, 1);// #37b383; 
$blue: rgba(35, 170, 191, 1); // #23AABF; 
$orange: #FF6300; //rgba(87, 88, 158, 100)
$red: #CB48B7; //rgba(212, 126, 118, 100)
$yellow: #FED05A; //rgba(200, 255, 190, 100)
$gray: rgba(19,19,19,0.8);
$white: #FFFFFF;

$section-colors: $green, $blue, $orange, $red, $yellow;

*{
  font-family: Helvetica, Arial;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	background-color: white;
  	font-weight: normal;
  	height: 100%;
}

h1 {
  font-size: 3.998rem override;
  text-align: center;
  float: center;
  margin: 20px;
}

h2 {
	font-size: 2.827rem;
	margin-bottom: 15px;
  	font-weight: bold;
  	text-align: center;
}

h3{
  font-weight: lighter;
  font-size: 1.999rem;
}

p {
	font-size: 1.5rem;
	margin-bottom: 25px;
	font-weight: lighter;
	text-align: justify;
}

li{
  list-style: none;
  text-align: justify;
}

header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	background-color: rgba($white, 1.0);
	box-shadow: 0 0 10px #ccc;
	opacity: 0;
	z-index: 10;

	transition: opacity 0.3s;

	a {
		text-decoration: none;
		color: $green;
		font-size: 25px;
		margin-top: 15px;
		:hover {

		}
	}
}

#header-logo {
	margin: 5px auto;
  width: 65px;
	height: 65px;
}

#mobile-btn {
	display: none;
}
section {
	width: 100%;
	min-height: 100px;
	margin: 0;
	padding: 10vh 0;
	position: relative;
	vertical-align: middle;
	text-align: center;

	img:not(#start-logo) {
		width: 100%;
	}
}

.btn {
	display: inline-block;
	color: $white;
	background-color: $green;
	border-radius: 3px;
  	padding: 15px 45px;
  	margin-top:20px;
  	font-size: 20px;
  	line-height: 1;
  	text-transform: uppercase;

  	cursor: hand;
  	-webkit-transition: background-color 0.2s; /* Safari */
  	transition: background-color 0.2s;

  	float: center;
}

.seam {
	position: absolute;
	top: 0.5%;
	left: 0;
	height: 99%;
	width: 100%;
}

.btn:hover {
	background-color: darken($green, 10%)
}

#start {
	text-align: center;
	//background: url(../img/pattern1.jpg) repeat center center;
	height: 100vh;
	min-height: 600px;

	background-color: $white;

	// seam
	.seam {
		border-bottom: 2px dashed lighten($green, 40%);
	}

	.row {
		margin-bottom: 50px;
	}
}

.image-container {
	position: absolute;
	width: 16%;
}

.top {
	top: 0;
	left: 0;
}

.bottom {
	bottom: 0;
	right: 0;
}


#start-logo {
	//background: url("../img/logo.png") no-repeat center center;
	background-size: cover;
	width: 40vh;
	height: 40vh;
	min-width: 200px;
	min-height: 200px;
	margin: 0 auto;
	-webkit-transition: width 0.2s,  height 0.2s; /* Safari */
    transition: width 0.2s, height 0.2s;
    float: center;
    display: block !important;
}

.text-content {
	padding: 25px 40px;
}

#about {
	background-color: lighten($green, 40%);

	.seam {
		border-top: 2px dashed white;
		border-bottom: 2px dashed lighten($yellow, 10%);
	}
}

#about h2 {
	color: $green;
}

#sponsors {
	background-color: lighten($blue, 40%);

	h2 { color: $blue; }

	.btn {
		background-color: $blue;
	}

	.btn:hover {
		background-color: darken($blue, 10%);
	}

	.seam {
		border-top: 2px dashed lighten($yellow, 10%);
		border-bottom: 2px dashed lighten($orange, 20%);
	}
}

#schedule {
	background-color: lighten($yellow, 10%);

	h2 { color: darken($yellow, 20%); }

	p {text-align: center;}

	.seam {
		border-top: 2px dashed lighten($green, 40%);
		border-bottom: 2px dashed lighten($blue, 40%);
	}
}

#faq {
	background-color: lighten($orange, 20%);

	h2 { color: $orange; }

	.seam {
		border-top: 2px dashed lighten($blue, 40%);
		border-bottom: 2px dashed $gray;
	}
}

footer {
	background-color: $gray;
	padding: 50px 0;
	text-align: center;
  h6 {
    color:white;
    font-weight: bold;
  }
}


/* Larger than mobile */
@media (min-width: 400px) {
	section {
		img { display: none;}
	}

	#header-links {
		display: none;
	}

	#mobile-btn {
		display: inline-block;
	}

	footer {
		img {
			height: 75px;
			padding: 10px 0;
		}
	}

}

/* Larger than phablet */
@media (min-width: 550px) {
	footer {
		img {
			max-height: 75px;
			width: 100%;
		}
	}
}

/* Larger than tablet */
@media (min-width: 750px) {
	section {
		img { display: inline-block;}
	}
}

@media (max-width: 750px) {
	section {
		text-align: center !important;

		.columns, .column {
			width: 100% !important;
		}
	}
}


/* Larger than desktop */
@media (min-width: 1000px) {
	#header-links {
		display: block;
	}

	#mobile-btn {
		display: none;
	}
	
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
