$green: #37b383; //rgba(55, 179, 131, 100)
$blue: #0e9ab4; //rgba(14, 154, 180, 100)
$purple: #57589e; //rgba(87, 88, 158, 100)
$red: #d47e76; //rgba(212, 126, 118, 100)
$yellow: #c8ffbe; //rgba(200, 255, 190, 100)
$gray: #838383;
$white: #FFFFFF;

$section-colors: $green, $blue, $purple, $red, $yellow;

*{
  font-family: Open Sans;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
	background-color: white;
	text-align: center;
}

h1 {
  color: $gray;
  font-size: 2.5vmax override;
  text-align: center;
  float: center;
  margin: 20px;
}

h2 {
	font-size: 3vmax;
	margin-bottom: 15px;
}

p {
	font-size: 1.5vmax;
	margin-bottom: 25px;
}

header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 75px;
	background-color: rgba($white, 0.8);
	opacity: 0;
	z-index: 10;

	transition: opacity 0.3s;

	a {
		text-decoration: none;
		color: $green;
		font-size: 25px;
		margin-top: 15px;
		:hover {

		}
	}
}

#header-logo {
	margin: 5px auto;
	width: 65px;
	height: 65px;
}

section {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 10vh;
	min-height: 500px;
}

.btn {
	display: inline-block;
	color: $white;
	background-color: $green;
	border-radius: 3px;
    padding: 15px 45px;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;

    cursor: hand;
    -webkit-transition: padding 0.2s; /* Safari */
    transition: padding 0.2s;

    float: center;
}

.btn:hover {
	padding: 17px 50px;
}

#start {
	text-align: center;
	//background: url(../img/pattern1.jpg) repeat center center;
	height: 100vh;
	min-height: 600px;

	background-color: #F3F3F3;

	.row {
		margin-bottom: 50px;
	}
}

#start-logo {
	//background: url("../img/logo.png") no-repeat center center;
	background-size: cover;
	width: 22vw;
	height: 22vw;
	min-width: 200px;
	min-height: 200px;
	margin: 0 auto;
	-webkit-transition: width 0.2s,  height 0.2s; /* Safari */
    transition: width 0.2s, height 0.2s;
    float: center;
}

.text-content {
	width: 100%;
	max-width: 50vw;
	padding: 25px 40px;
}

#about {
	background-color: lighten($green, 50%);
}

#about h2 {
	color: $green;
}

#sponsors {
	background-color: lighten($blue, 50%);

	h2 { color: $blue; }

	.btn {
		background-color: $blue;
	}
}

#schedule {
	background-color: lighten($purple, 30%);

	h2 { color: $purple; }
}

#faq {
	background-color: lighten($red, 30%);

	h2 { color: $red; }
}